body {
    background-image: url('/public/assets/img/background.png');
    max-width: 100vw;
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: black;
    align-items: center;
    overflow: hidden;
}
@font-face { 
    font-family: "Games"; 
    src: url("https://dl.dropboxusercontent.com/s/574p1205gitwm85/Game%20of%20Thrones.ttf"); }
@font-face {
    font-family: "Felix";
    src: url("https://dl.dropboxusercontent.com/s/wrhgcmcf8niy4ye/Felixti.TTF")
}
@font-face {
    font-family: "Light";
    src: url("https://dl.dropboxusercontent.com/s/lglothihlpo6ioi/WarnockPro-LightDisp.otf");
}

a{
    text-decoration: none;
    color:whitesmoke;
}

.container {
    color:rgb(160, 160, 160);
    text-align: center;  
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.intro {
    width: 50%;
    font-family: "Light";
}

.imgHouses {
    justify-content:space-around;
    width: 25%;
}

h1 {
    font-weight: lighter;
    font-family: "Games";
    font-weight: lighter;
    font-size: 60px;
}

.quote {
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-style: italic;
    font-family: 'Light';
    margin-top: 3%;
    font-size: 30PX;
    /* opacity: 0.5; */
    letter-spacing: 3.5px;
    text-shadow: 1px 1px 2px #a59698c2;
}


.offquote {

    color: aliceblue;
    justify-content: center;
    align-items: center;
    display: flex;
    font-style: italic;
    margin-top: 0%;
    opacity: 0.7;
    letter-spacing: 2px;
    font-size: 12px;
}
.container2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4%;
}

.resultShi {
    width: 30%;
    display: flex;
    text-align: center;
    font-weight: lighter;
    font-family: "Felix";
    font-weight: lighter;
    font-size: 35px;
    border-radius: 2px; 
    color:rgb(160, 160, 160);
    justify-content: center;
    margin-top: -5%;
    text-shadow: 10px 10px 6px #615c5c;
}
.resultComputer {
    width: 30%;
    display: flex;
    text-align: center;
    color:rgb(160, 160, 160);
    text-align: center;
    font-family: "Light";
    justify-content: center;
    margin-top: -5%;
}

.resultPlayer {
    width: 30%;
    display: flex;
    text-align: center;
    font-family: "Light";
    color:rgb(160, 160, 160);
    justify-content: center;
    margin-top: -5%;
}
.countUser {
    color: aliceblue;
    justify-content: center;
    align-items: center;
    display: flex;
    /* font-style: italic; */
    font-family: "Games";
    font-weight: lighter;
    margin-top: 0%;
    opacity: 0.7;
    letter-spacing: 2px;
    font-size: 19px;
    position: absolute;
    width: 300px;
    top: 35%;
    left: 10%;
}

#countUser {
    font-family: "Games";
    font-weight: lighter;
    opacity: 0.7;
    letter-spacing: 2px;
    font-size: 19px;
}

.countComputer {
    position: absolute;
    width: 300px;
    top: 35%;
    right: 10%;
    letter-spacing: 2px;
    font-size: 19px;
    font-family: "Games";
    font-weight: lighter;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 0%;
    opacity: 0.7;
    letter-spacing: 2px;
}

#countComputer {
    font-family: "Games";
    font-weight: lighter;
    opacity: 0.7;
    letter-spacing: 2px;
    font-size: 19px;
}

.countBox {
    color: #615c5c;
}

.houses {
    display: flex;
    width: 400px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}